.surveillance-page {
  text-align: center;
  min-height: 80vh;
}

.surveillance-image {
  margin-top: 20vh;
  margin-bottom: 2vh;
}

.surveillance-chatbox {
  margin-top: 20vh;
  text-align: justify;
  padding: 35px 20px 20px 20px;
  border: solid black 1px;
}

.surveillance-chat-submit {
  margin-top: 3vh;
  padding: 5px;
  width: 70%;
}

.surveillance-chat-button {
  margin-top: 1vh;
  margin-left: 5%;
  width:25%;
}

.surveillance-lock-button {
  margin-right: 2vw;
  width: 25%;
  margin-top: 2vh;
}

.surveillance-unlock-button {
  margin-top: 2vh;
  width: 25%;
}
